node_modules
.DS_Store

dist
dist-ssr
*.local
dist_electron
.idea

# lock
yarn.lock
pnpm-lock.yaml
package-lock.json
dist.zip

.vscode

bun.lockb
bun.lock

.env.*.local

out

.cursorrules

.github/deploy_keys

resources/android/**/*